<?py include('admin_header.html') ?>
	<nav id="nav2">
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}article/new/">New article</a>
		<a href="javascript:;" class="current">Delete article</a>
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}article/unpublished/" target="_blank">Unpublished articles</a>
	</nav>
	<div class="info"></div>
	<form method="post" action="">
		<div><input type="submit" value="Delete"/></div>
	</form>
	<div class="notice">Notice:
		<ul>
			<li>Delete article will also delete its comments and points.</li>
			<li>If you don't want others to see it temporarily, you can go to <a href="#{{BLOG_ADMIN_RELATIVE_PATH}}article/edit/#{id}">edit</a> it, and deselect "Published".</li>
		</ul>
	</div>
<?py include('admin_footer.html') ?>
