<?py
from tenjin.html import checked
include('admin_header.html')
?>
	<nav id="nav2">
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}user/search/">Search user</a>
		<a href="javascript:;" class="current">Edit user</a>
	</nav>
	<div class="info"></div>
	<form method="post" action="#{{BLOG_ADMIN_RELATIVE_PATH}}user/edit/">
		<div><label for="name">#{user.key().name()}'s user name (required)</label> <div class="input-field"><input type="text" id="name" name="name" value="${user.name}"/></div></div>
		<div><label for="site">Site</label> <div class="input-field"><input type="text" id="site" name="site" value="${user.site}"/></div></div>
		<div><label>Status</label> <div class="input-field">
		<label for="mute">mute (don't receive notification)</label> <input type="checkbox" id="mute" name="mute"#{checked(user.flag & 4)}/><br/>
		<label for="verified">verified</label> <input type="checkbox" id="verified" name="verified"#{checked(user.flag & 2)}/><br/>
		<label for="banned">banned</label> <input type="checkbox" id="banned" name="banned"#{checked(not(user.flag & 1))}/><br/>
		<label for="del-comment">delete all of his comments (can't be recovered)</label> <input type="checkbox" id="del-comment" name="del-comment"/>
		</div></div>
		<input type="hidden" id="email" name="email" value="#{user.key().name()}"/>
		<div><input type="submit" value="Save"/></div>
	</form>
<?py include('admin_footer.html') ?>
