<?py include('admin_header.html') ?>
	<nav id="nav2">
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}tag/new/">New tag</a>
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}tag/delete/">Delete tag</a>
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}tag/move/" class="current">Move tag</a>
	</nav>
	<div class="info"></div>
	<form method="post" action="">
		<div><label for="from_name">Source tag name</label>
			<div class="input-field">
			<select id="from_name" name="from_name">
<?py
for tag in tags:
	tag = tag.key().name()
?>
				<option value="${tag}">${tag}</option>
<?py #endfor ?>
			</select>
			</div>
		</div>
		<div><label for="to_name">Object tag name</label>
			<div class="input-field">
			<select id="to_name" name="to_name">
<?py
for tag in tags:
	tag = tag.key().name()
?>
				<option value="${tag}">${tag}</option>
<?py #endfor ?>
			</select>
			</div>
		</div>
		<div><input type="submit" value="Move"/></div>
	</form>
	<div class="notice">Notice:
		<ul>
			<li>Object tag must exist.</li>
			<li>This operation may take much time, so please don't change these 2 tags or their articles until you receive a mail that notices the task has been finished.</li>
			<li>If you don't receive notification email for a long time, you can login to the <a href="https://appengine.google.com">Admin Console</a> to check the status of Task Queues, and delete it if needed.</li>
		</ul>
	</div>
<?py include('admin_footer.html') ?>
