<?py include('admin_header.html') ?>
	<nav id="nav2">
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}tag/new/" class="current">New tag</a>
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}tag/delete/">Delete tag</a>
		<a href="#{{BLOG_ADMIN_RELATIVE_PATH}}tag/move/">Move tag</a>
	</nav>
	<div class="info"></div>
	<form method="post" action="">
		<div><label for="name">Tag name</label> <div class="input-field"><input type="text" id="name" name="name"/></div></div>
		<div><input type="submit" value="Add"/></div>
	</form>
<?py include('admin_footer.html') ?>
